<h1>비트코인 가격예상 사이트입니다.</h1>

<h3>비트코인 변동률 예상</h3>
<form action = "{% url 'bitcoin' %}" method=POST>
    {% csrf_token %}
    <input type=float placeholder="이더리움 고가변동률" name="ed">
        {% csrf_token %}
    <input type=float placeholder="비트코인캐시 고가변동률" name="bcc">
        {% csrf_token %}
    <input type=float placeholder="이오스 고가변동률을" name="eos">
        {% csrf_token %}
    <input type=float placeholder="트론 고가변동률을" name="tron">
        {% csrf_token %}
    <input type=float placeholder="라이트코인 고가변동률" name="lc">
    <br>
    <button type=submit >계산</button>
    <button type=reset >초기화</button>
</form>
