<link rel="stylesheet" href="/static/bootstrap.min.css" />
<div style="text-align:center"><h1>비트코인 변동률예상 사이트입니다.</h1>
<br>

<h3>가상화폐 고가를 입력해주세요.</h3>
<br>

<form action = "{% url 'bitcoin' %}" method=POST>
    {% csrf_token %}
    <h5>가상화폐 전일고가</h5>
    <input type=float placeholder="이더리움 전일고가" name="eda">
        {% csrf_token %}
    <input type=float placeholder="비트코인캐시 전일고가" name="bca">
        {% csrf_token %}
    <input type=float placeholder="이오스 전일고가" name="eoa">
        {% csrf_token %}
    <input type=float placeholder="트론 전일고가" name="tra">
        {% csrf_token %}
    <input type=float placeholder="라이트코인 전일고가" name="lca">
    <br>
    <br>

    <h5>가상화폐 금일고가</h5>
    <input type=float placeholder="이더리움 금일고가" name="edb">
        {% csrf_token %}
    <input type=float placeholder="비트코인캐시 금일고가" name="bcb">
        {% csrf_token %}
    <input type=float placeholder="이오스 금일고가" name="eob">
        {% csrf_token %}
    <input type=float placeholder="트론 금일고가" name="trb">
        {% csrf_token %}
    <input type=float placeholder="라이트코인 금일고가" name="lcb">
    <br>
    <br>
    <button type=submit >확인</button>
    <br>
    <br>
    <input type="button" value="사용방법"
       onclick="javascript:location='http://127.0.0.1:8000/how'"
    </form></div>
