<link rel="stylesheet" href="/static/bootstrap.min.css" />

<div style="text-align:center"><h2>사용방법</h2>
<br>
<br>
<h5>① 참조사이트를 통해 가상화폐의 고가데이터 조회</h5>

<h5>② 전일고가 및 금일고가 데이터 입력</h5>

<h5>③ 확인 버튼을 누른후, 비트코인 변동률 확인</h5>
<br>
<br>
<br>

<h3>참조사이트</h3>

<a href='https://kr.investing.com/crypto/' 
   target='_blank'>
  <input type="button" value="인베스팅닷컴"></a>

<a href='https://www.bithumb.com/' 
   target='_blank'>
  <input type="button" value="빗썸"></a>

<a href='https://www.korbit.co.kr/' 
   target='_blank'>
  <input type="button" value="코빗"></a>

<a href='https://upbit.com/' 
   target='_blank'>
  <input type="button" value="업비트"></a>

<br>
<br>
<br>
<input type="button" value="뒤로가기"
       onclick="javascript:location='http://simjs0824.pythonanywhere.com'"></div>


